<header class="masthead">
  <nav class="language-nav">
    <ul>
      <a>css</a>
      <a>HTML</a>
      <a>JAVASCRIPT</a>
      <a>RUBY</a>
    </ul>
  </nav>
  <nav class="masthead-links">
    <ul>
      <li>Tuesday, October 18, 2016</li>
      <button>Today’s Paper</button>
      <li id="video-icon">
        <i class="fa fa-video-camera"></i>
      </li>
      <button>Video</button>
      <li>77°F</li>
      <i>AAO</i>
      <strong>+100%</strong>

    </ul>
  </nav>
</header>
