.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: solid $light-gray 1px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
 font-family: $sans-serif;
 font-size: 10px;
 text-transform: uppercase;
 margin-left: 20px;
}

.right-nav > ul > li {
  font-family: $sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 5px;
}

.right-nav > ul > li:last-of-type {
  font-size: 18px;
  margin-left: 15px;
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {

}
